@tailwind base;
@tailwind components;
@tailwind utilities;

/* Feuerwehr optional globale Styles */

body {
  @apply bg-gray-100 dark:bg-gray-950;
}

/* Scrollbar schöner */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c8102e;
  border-radius: 9999px;
}